h1 {
    color: #000;
    position: absolute;
    left: 50%;
}

body {
    margin: 0;
}

.container {
    height: 45em;
    width: 85em;
    display: flex;
    margin: 1em;
    background-color: red;
}

.sidebar {
    height: 100%;
    width: 25%;
    background-color: greenyellow;
}

.mainpage {
    height: 40em;
    width: 75%;
    background-color: white;
    transform: translateY(5em);
    border: 1px solid black;
    box-sizing: border-box;
}

.topic {
    height: 5%;
    width: 90%;
    margin: 5%;
    background-color: red;
    border-radius: 0.4em;
    transform: translate(0%, 300%);
}

.todo-1 {
    background-color: green;
    height: 1.5em;
    width: 96.5%;
    border-radius: 0.4em;
    transform: translate(1em, 4em);
}

.count {
    transform: translate(30em, 5em);
}

/* .new-to-do {
    height: 1.5em;
    width: 90%;
    background-color: #48cae4;
} */

footer {
    margin: 0.5em;
    transform: translate(x);
}

button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: none;
    background-color: #48cae4;
    font-size: x-large ;
}

footer {
    background-color: red;
    position: fixed;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

input {
    transform: translate(20%, 50%);
}

label {
    font-size: 30px;
    transform: translate(10px, 0px);
}